header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* display: grid;
  grid-template-columns: 25% 1fr 25%; */
  padding: 2rem 0 2rem 0;
  font-family: "Source Serif 4", serif;
}

header img {
  /* justify-self: center; */
  flex: 1;
  max-width: 219px;
  min-height: 56px;
}

header .springLogo,
header .nodeLogo {
  margin-inline: 1rem;
}

header .springLogo {
  max-width: 219px;
  min-height: 56px;
}

header .nodeLogo {
  max-width: 171px;
  min-height: 104px;
}

header h1,
header h2 {
  flex: 1;
  font-weight: 400;
  font-style: italic;
  /* text-align: center; */
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1.75rem;
  text-align: right;
}

header h2 span {
  font-size: 2rem;
  font-style: normal;
}

@media screen and (max-width: 980px) {
  header img {
    display: none;
  }
}
