.btnMain {
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: var(--black);
  transition: 0.28s ease box-shadow;
  transform: translateY(4px);
}

.btnMain:not(.formWrapper .btnMain) {
  box-shadow: var(--medShad);
}

.btnMain:not(.formWrapper .btnMain):hover,
.btnMain:not(.formWrapper .btnMain):focus-visible .btnTop {
  box-shadow: var(--larShad);
}

.btnMain:not(.formWrapper .btnMain):active,
.btnMain:not(.formWrapper .btnMain).selected {
  box-shadow: var(--medShad);
}

.btnMain .btnTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 6px;
  border: 1px solid var(--black);
  font-weight: 600;
  background-color: var(--lvl2);
  transform: translateY(-4px);
  transition: 0.1s ease-in-out transform;
  transition: 0.2s ease-in-out background-color;
}

.btnMain:hover .btnTop,
.btnMain:focus-visible .btnTop {
  background-color: var(--hover);
  transform: translateY(calc(-3.5px - 4px));
}

.btnMain:active .btnTop,
.btnMain.selected .btnTop {
  transform: translateY(calc(3.5px - 4px));
  background-color: var(--active);
}

.btnMain .btnTop p {
  color: var(--hTxt);
}

@media screen and (max-width: 420px) {
  .btnMain {
    height: 2.5rem;
  }
}
