.formWrapper {
  position: relative;
  border: 1px solid var(--black);
  background-color: var(--lvl1);
  box-shadow: 8px 8px 0px 0px var(--g500);
  width: 100%;
  max-width: 430px;
}

.formWrapper > button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -1px;
  right: -1px;
  border: 1px solid var(--black);
  background-color: var(--lvl2);
  min-width: 3rem;
  min-height: 3rem;
  transition: 0.2s ease-in-out background-color;
}

.formWrapper > button:hover,
.formWrapper > button:focus-visible {
  background-color: #e7e7e7;
}

.formWrapper > button:active,
.formWrapper > button.selected {
  background-color: var(--active);
  top: 2px;
}

.formWrapper .formContent {
  padding: 1rem 2rem 1rem 2rem;
}

/* .formWrapper .formContent:has(.title .loginHeading) {
  padding-bottom: 2rem;
} */

.formWrapper .formContent .title {
  display: grid;
  place-items: center;
  /* transition: 0.5s ease-out all; */
}

/* .formContent h2,
.formContent h4 {
  text-align: center;
} */

.formWrapper .formContent .title h2 {
  position: relative;
  font-size: 2.25rem;
  color: var(--g600);
  z-index: 1;
}

.formWrapper .formContent .title h2:not(.loginHeading) {
  margin-bottom: 0.5rem;
}

.formWrapper .formContent .title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 106%;
  height: 1.125rem;
  background-color: var(--g100);
  z-index: -1;
}

.formWrapper .formContent .title h4 {
  font-size: 0.875rem;
  font-weight: 500;
}

.formWrapper .formContent .title hr {
  border: 1px solid rgba(36, 36, 36, 0.6);
  margin-block: 1rem 1.5rem;
  width: 75%;
}

.formWrapper .formContent form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formWrapper .formContent form .inputWrapper {
  position: relative;
}

.formWrapper .formContent form .inputWrapper input {
  width: 100%;
  height: 48px;
  padding-inline: 1rem;
  border: 1px solid var(--black);
  background-color: var(--lvl2);
}

.formWrapper .formContent form .inputWrapper label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: rgba(98, 98, 98, 0.7);
  transition: 0.28s ease-out top, 0.2s ease-out font-size;
}

.formWrapper .formContent form .inputWrapper label span {
  color: rgba(36, 36, 36, 0.85);
}

.formWrapper .formContent form .inputWrapper input:focus + label,
.formWrapper
  .formContent
  form
  .inputWrapper
  input:not(:placeholder-shown)
  + label {
  top: -1.5%;
  font-size: 0.875rem;
  background-color: var(--lvl2);
}

.formWrapper .formContent form .fieldErr {
  color: red;
}

.formWrapper .formContent form .nameWrapper {
  display: flex;
  gap: 1rem;
}

/* .formWrapper .formContent form button {
  margin-top: -0.5rem;
} */

/* Below Form Fields */
.formWrapper .formContent .orDivider {
  display: flex;
  align-items: center;
  margin-block: 1rem 0.5rem;
}

.formWrapper .formContent .orDivider hr {
  border: 1px solid var(--hTxt);
  width: 100%;
}

.formWrapper .formContent .orDivider p {
  color: var(--hTxt);
  font-weight: 500;
  margin-inline: 0.5rem;
}

.formWrapper .formContent .thirdParty {
  display: flex;
}

.formWrapper .formContent > p {
  position: relative;
  margin-top: 1rem;
  font-size: 1.125rem;
  text-decoration: underline solid var(--g400);
  text-align: center;
  cursor: pointer;
}

.formWrapper .formContent > p:hover,
.formWrapper .formContent > p:focus-visible,
.formWrapper .formContent > p:active,
.formWrapper .formContent > p.selected {
  color: var(--hTxt);
}

.formWrapper .formContent > p:active,
.formWrapper .formContent > p.selected {
  top: 1px;
  text-decoration-color: var(--g500);
}

.formWrapper .formFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 1rem;
  border-top: 1px solid var(--black);
  background-color: var(--lvl2);
}

.formWrapper .formFooter p {
  position: relative;
  font-size: 0.8125rem;
  text-decoration: underline solid var(--txt);
  cursor: pointer;
}

.formWrapper .formFooter p:hover,
.formWrapper .formFooter p:active,
.formWrapper .formFooter p:focus-visible {
  color: var(--hTxt);
  text-decoration-color: var(--hTxt);
}

.formWrapper .formFooter p:active {
  top: 1px;
}
